<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expresiones</title>
</head>
<body>
    <div id="app">
        <img src="./assets/logo.png" alt="">
        <p v-show="showValue"> {{ value }} </p>
        <p v-if="showValue"> {{ value }} </p>
        <p v-else-if="false"> {{ 'Algo más' }} </p>
        <p v-else=> {{ 'Lo último' }} </p>

        <ul>
            <li v-for="i in items"> {{ i }} </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue ({
            el: '#app',
            data: {
                msg: 'Hola Vue',

                showValue: false,
                value: 'Algo',

                items: [ 1, 2, 3, 4, 5]
            }
        })
  </script>
</body>
</html>